@import url("https://fonts.googleapis.com/css?family=Rubik:300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* General */
p {
  color: #4d4d4d;
  font-size: 1.2rem;
  padding: 20px 0;
}
html {
  scroll-behavior: smooth;
}
/* Navbar */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
li,
a,
button {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
nav {
  height: 10vh;
  width: 100vw;
  background-color: white;
  box-shadow: 0 3px 10px #3d78023a;
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}
.logo {
  color: #394210;
  cursor: pointer;
  margin-right: auto;
  font-size: 1.5rem;
}
.nav_items {
  /* position: relative; */
  display: flex;
  list-style: none;
  width: 88vw;
  /* padding: 0 0.7vw; */
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
}
.nav_items li {
  position: relative;
}

/* .nav_items li {
  display: inline-block;
} */
.bubble {
  position: absolute;
  z-index: -2;
  background: #aee972;
  transform: scale(1.5);
  transition: all 0.5s ease;
}

.burger {
  display: none;
}

.burger div {
  width: 22px;
  height: 2px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}
/* .nav_items li a {
  position: relative;
} */
.item {
  display: inline-block;
  position: relative;

  margin: 0 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
}
.item :after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #52a003;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.item :hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Container */
.container {
  padding: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/pics/nav_flip.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-attachment: fixed;
  height: 100vh;
}
.container h1,
.container p {
  font-size: 4rem;
  width: 50%;

  /* margin-bottom: 20px; */
}
.container p {
  padding-left: 10px;
  margin-top: 20px;
  color: #3f3f3f;
  line-height: 2rem;
  font-size: 1.3rem;
}
.container-buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  width: 230px;
  margin-top: 30px;

  border: none;
  line-height: 50px;
  height: 50px;
  text-align: center;

  cursor: pointer;
}

.btn-one {
  color: black;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #52a003;
  border-bottom-color: #52a003;
  background-color: #ccfd9b7e;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.btn-three {
  color: 8fa02c;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ccfd9b7e;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #52a003;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* .heros {
  display: block;
} */
.container h1 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

.container h1:nth-child(1) {
  animation-delay: 1.5s;
}
.container h1:nth-child(2) {
  animation-delay: 2.5s;
}

.container h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #aee972c4;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}
.container h1:nth-child(1) span {
  animation-delay: 1s;
}
.container h1:nth-child(2) span {
  animation-delay: 2s;
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: black;
  }
}

/* About  */
.about {
  display: flex;
  padding: 182px;
}
.about-1,
.about-2 {
  flex-basis: 50%;
}
.about-2 {
  padding-left: 182px;
}
.about h2 {
  font-size: 2.5rem;
}
.about h3 {
  font-size: 2rem;
}
.about h4 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #4d4d4d;
}
.about p {
  color: #4d4d4d;
  font-size: 1.2rem;
}
.about a {
  text-decoration: underline;
}
.about h2,
.about p,
.about h3,
.about h4 {
  padding-bottom: 40px;
}

/* Projects */
.projects {
  /* display: flex;s */
  padding: 182px;
  background-color: #f7f7f7;
}
.projects h1 {
  width: 50%;
  font-size: 3rem;
  padding-bottom: 20px;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project-grid .info1,
.pic1 {
  padding: 10%;
  margin: 10px;
}
.info1 h2 {
  font-size: 2rem;
  padding: 40px;
}
/* Skills */
.skills {
  padding: 182px;
}
.skill-flex {
  /* padding: 0 182px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.skill-pic img {
  max-width: 120px;
}
.skills h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}
.skill-pic {
  padding: 5%;
}

/* Education */

.education {
  padding: 182px;
  background-color: #f7f7f7;
}
.education h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}
.seperator-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.course {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  /* background-color: red; */
}
.course-name {
  /* height: 120px; */
  margin: 20px 0;
  /* background-color: red; */
}
.education p {
  font-size: 1.2rem;
  padding: 10px 0;
}
.education h3 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.education h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.certificates {
  border-left: 2px solid rgb(75, 75, 75);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
.cer-pic {
  background-size: cover;
}
.cer-pic img {
  width: 80%;
}

/* message */
.message {
  background-color: #f7f7f7;
  background-image: url(assets/pics/white-painted-wall-1939485.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(black-textile-952670.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  display: flex;
  padding: 182px;
}
.message .message-text {
  padding: 40px;
  flex-basis: 50%;
}
.message .message-form {
  flex-basis: 50%;
}
.message-text h1 {
  font-size: 3rem;
  padding-bottom: 30px;
}
.message-text p {
  color: #4d4d4d;
  font-size: 1.2rem;
}
/* .message .message-form{
    display: flex;
    flex-direction: column;
} */
.form-el {
  border: none;
  outline: none;
  background-color: white;
}
.message .message-form .form-el {
  padding: 20px;
  margin: 15px;
  width: 80%;
}
::placeholder {
  color: #4d4d4d;
  font-size: 1.2rem;
}
.sub {
  background-color: #737373;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
}
.con-info {
  padding: 20px;
}

/* Responsive design */

@media screen and (max-width: 1220px) {
  li,
  a,
  button {
    padding: 0px 15px;
    font-size: 1rem;
  }
  .navbar {
    padding: 20px 5%;
  }

  .container,
  .about,
  .services,
  .contact,
  .message {
    padding: 100px;
  }
  .logo {
    font-size: 1.2rem;
  }
  .item {
    margin: 0 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
  }
  .container h1,
  .container p {
    width: 50%;
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
  .container p {
    font-size: 1rem;
  }
  .services h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 900px) {
  /* body {
    overflow-x: hidden;
  } */
  /* .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  } */

  nav {
    position: fixed;
    z-index: 3;
  }
  .burger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7 ease;
  }
  .nav_items {
    position: fixed;
    background: lawngreen;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    pointer-events: none;
    transition: all 1s ease-out;
    /* z-index: 3; */

    align-items: center;
  }
  .nav-items.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav_items li {
    opacity: 0;
  }
  .nav_items li a {
    font-size: 25px;
  }
  .nav_items li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav_items li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav_items li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav_items li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav_items li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }
  .nav_items li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }
  .nav_items li:nth-child(7) {
    transition: all 0.5s ease 1.4s;
  }
  li.fade {
    opacity: 1;
  }
  .toggle.line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle.line2 {
    transition: all 0.7 ease;
    width: 0;
  }
  .toggle.line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
